.Card {
    display: flex;
    margin-top: 2em;
    background: #4d5668;
    align-items: center;
    justify-content: center;
    border: transparent;
    margin: 2em;
    width: 50vw;
    padding: 1em;
    color: white;
    border-radius: 20px;
}

.CardBody {
    display: flex;
    margin-top: 1em;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.Buttons{
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    width: 20vw;
}

.Img {
    width: 70%;
    height: 70%;
    
}