.Header{
    background: rgb(196, 196, 196);
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    color: rgb(61, 61, 61);
    padding: 0px 16px;
}

.Div {
    padding: 1em;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.Btn1 {
    background: rgb(16, 16, 106);
    color: white;
    border: transparent;
    padding:5px;
    border-radius: 5px;
}

.Btn2 {
    background: transparent;
    color: rgb(16, 16, 106);
    border: transparent;
}